html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(240, 240, 240, 0.9);
    scroll-behavior: smooth;
}
/* /////////// */
/* H E A D E R */

#mainHeader {
    position: fixed;
    z-index: 100;
    height: 70px;
    width: 100%;
    background-color: rgba(40, 40, 40, 0);
}

#mainHeader #header_align {
    height: 100%;
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
}

#header_rightBlock {
    display: flex;
    align-content: center;
}

#navBar {
    list-style-type: none;
    display: flex;
}

#navBar li {
    padding: 10px;
    font-size: 1.4em;
    text-align: center;
    display: flex;
    align-items: center;
    letter-spacing: 5px;
}

#navBar a {
    color: rgba(240, 240, 240, 0.7);
    text-decoration: none;
    padding: 5px;
    transition: .3s;
    position: relative;
}

#navBar a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

#navBar a:hover {
    color: rgba(240, 240, 240, 0.9);
}

#navBar a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#title_link img {
    width: 200px;
}

#navBar a[class="nav_login"] {
    border: 3px solid rgba(240, 240, 240, 0.7);
    border-radius: 30px;
    padding: 14px;
}

#navBar a[class="nav_login"]:hover {
    border: 3px solid white;
    border-radius: 0;
    background-color: white;
    color: #ff7a7a;
}

#navBar a[class="nav_login"]:before:hover {
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

/* /////////////// */
/* S E C T I O N S */

.frame {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.section_center {
    padding: 20px;
    width: 100%;
}

.section_header {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

/* About section's title */
.section_title {
    color: whitesmoke;
    font-size: 4em;
    letter-spacing: 15px;
    font-weight: normal;
    display: inline;
    position: relative;
    margin: 10px;
    padding: 10px;
    top: 60px;
}

/* Partially underlined */
.section_title:before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    height: 2px;
    transform: scaleX(0.5);
}

strong {
    color: #ff7a7a;
}

div[class="button"] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

a[class="button"] {
    display: block;
    border-radius: 60px;
    padding: 20px 40px;
    color: #ff6262;
    background-color: white;
    text-decoration: none;
    transition: .3s;
}


a[class="button"]:hover {
    border-radius: 0;
    background-color: #ff6262;
    color: white;
}

/* ///////////////////////// */
/* F I R S T   S E C T I O N */

#mainFrame {
    background: url('/assets/img/lava_background.png') center repeat-x;
    background-size: auto 100%;
}

.mainFrame_centerBlock {
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30%;
}

.mainFrame_topBlock img {
    width: 600px;
}

/* Play button image */
.playButton_bg {
    width: 400px;
    height: 170px;
    background-image: url('/assets/img/play.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Play button hit box */
.playButton {
    display: block;
    width: 88%;
    height: 70%;
    border-radius: 60px;
}

/* /////////////////////////// */
/* S E C O N D   S E C T I O N */

#aboutFrame {
    background-color: rgb(40, 40, 40);
}

.section_article {
    margin-top: 40px;
    padding: 50px;
    padding-left: 100px;
    letter-spacing: .3em;
    line-height: 1.3em;
    font-size: 2em;
    text-align: justify;
}



/* ///////////////////////// */
/* T H I R D   S E C T I O N */

#teamFrame {
    background-color: #b06767;
}

#teamFrame .section_title {
    top: 60px;
}

.section_subtitle {
    position: relative;
    top: 60px;
    letter-spacing: 10px;
    left: 20px;
    font-size: 2em;
    color: #ff9292;
    font-style: italic;
}

#membersList {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

.member_box {
    padding: 5px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member_box img {
    width: 150px;
}

.member_box h4 {
    font-size: 2em;
    margin: 20px 0;
    letter-spacing: 7px;
    font-weight: normal;
    color: white;
}

.member_box article {
    padding: 10px;
    text-align: center;
    line-height: 120%;
    letter-spacing: 2px;
}

/* /////////////////////////// */
/* F O U R T H   S E C T I O N */

#contactFrame {
    background-color: #ffdddd;
    height: 90%;
}

#contactFrame .section_header {
    justify-content: center;
}

#contactFrame .section_title {
    color: #ff9292;
}

#contactFrame .section_title:before {
    background-color: #ff9292;
}

/* /////////// */
/* F O O T E R */
#mainFooter {
    background-color: rgba(40, 40, 40, 1);
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffdfdf;
    font-size: 1.5em;
    letter-spacing: 5px;
}

#mainFooter_shareLinks {
    list-style-type: none;
    display: flex;
    margin: 0;
}

#mainFooter_shareLinks li {
    list-style-type: none;
}

#mainFooter_shareLinks img {
    width: 50px;
    margin: 0 15px;
}

.popup {
    visibility: hidden;
    position: fixed;
    z-index: 101;
    top: 30%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.popup .login {
    display: inline-block;
    padding: 30px;
    height: min-content;
    background-color: rgba(40, 40, 40, 0.9);
    border-radius: 30px;
    width: 30%;
}

.popup .login h4 {
    letter-spacing: 5px;
    font-size: 1.6em;
    text-align: center;
}

form .input_div {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

form div label {
    width: 50%;
    padding-right: 15px;
    height: min-content;
    font-size: 1.2em;
    letter-spacing: 3px;
}

form div input {
    padding: 10px;
    background-color: #ff9292;
    color: white;
    border: 0;
    border-radius: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    transition: .3s;
}

form div input:focus {
    border-radius: 0;
    background-color: white;
    color: #ff7a7a;
}

.form_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

input[class="submit"] {
    padding: 10px 40px;
    background-color: #ff6262;
    border: 0;
    border-radius: 20px;
    font-size: 1em;
    letter-spacing: 3px;
    color: white;
    transition: .3s;
}

input[class="submit"]:hover {
    border-radius: 0;
    background-color: #fd2d2d;
}

.form_footer a {
    color: white;
    text-decoration: none;
    display: inline;
    width: 0;
}