.frame:nth-child(2) {
    background: url("/assets/img/lava_background_text.png") center repeat-x;
    background-size: auto 100%;
}

.frame:nth-child(3) {
    background-color: rgb(40, 40, 40);
}

#memberList {
    margin-top: 100px;
}

.member_box h4 {
    color: #ff9292;
}

.member_box img {
    margin-bottom: 20px;
}


.frame:nth-child(4) {
    background-color: #ff9292;
}

.frame:nth-child(4) article {
    display: flex;
    justify-content: space-between;
}

.section_ul li {
    margin: 50px 0;
}
.section_ul a {
    margin: 50px 0;
	text-decoration:none;
	color:white;
}

.section_ul a:hover{
	color: #ff7a7a;
    transition: .3s;
}

.section_ul li:hover {
    color:#ff7a7a;
    transition: .3s;
}

/* ///////////////////////////////// */
/* T A S K   D I S T R I B U T I O N */

.frame:nth-child(5) {
    background-color: rgb(40, 40, 40);
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    padding: 5px;
    border: 2px solid white;
}

table th { 
    text-align: center;
    font-weight: bold;
}

table td:nth-child(2), table td:nth-child(3) {
    font-style: italic;
}

/* ///////////////////////////////// */
/* P L A N N I N G */

.frame:nth-child(6) {
    background-color: #d85757;
}
.frame:nth-child(7) {
    background-color: #d85757;
}

.frame:nth-child(8) {
    background-color: rgb(40, 40, 40);
}

.frame:nth-child(9) {
    background-color: rgb(40, 40, 40);
}
.frame:nth-child(10) {
    background-color: #ff9292;
}
.frame:nth-child(11) {
    background-color: #ff9292;
}
.frame:nth-child(12) {
    background-color: #d85757;
}

.cc h4{
	text-align :center;
	color: white;
}

p {
	font-size: 5.6rem;
    text-align: center;
    line-height: 1;
    animation: neon .08s ease-in-out infinite alternate;
    color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 90px #fff,
    0 0 100px #fff,
    0 0 150px #fff;
}
